<section id="forms">
    <div class="span12">
      <%= render 'layouts/messages' %>
      <div class="form-horizontal well">
<%= form_for([@conference, @conference.lists.build]) do |f| %>

<div class="control-group">
  <%= f.label :list_name, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :list_name %>
  </div>
  </div>
  <div class="control-group">
    <%= f.label :countries, :class => "control-label" %><br />
      <div class="controls checkboxlist">
      <% for country in Country.all  %>
      <label class="checkbox">
          <%= check_box_tag "list[country_ids][]", country.id, @conference.lists.include?(country) %>
          <%= country.country_name %>
        </label>
      <% end  %>
    </div>
  </div>
  
  <div class="control-group">
        <div class="controls">
          <%= f.submit "Create Country List", :class => "btn btn-primary"%>
  </div>
  </div>
<% end %>


    </div>
  </div>

</section>