<%= form_for([@conference, @conference.lists.build]) do |f| %>

  <div class="field">
    <%= f.label :list_name %><br />
    <%= f.text_field :list_name %>
  </div>
  <div class="field">
    <%= f.label :countries %><br />
    <%= render :partial => 'lists/countries_checkboxes' %>
  </div>
  <% for country in Country.all  %>
     <%= check_box_tag "list[country_ids][]", country.id, @conference.lists.include?(country) %>
     <%= country.country_name %>
     <br />
  <% end  %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
