<div class="container" style="padding-left:20px; padding-right:20px; background-color:white;">


<ul class="nav nav-tabs" style="padding-top:20px;">
		<li class="dropdown">
			<a class="dropdown-toggle"	data-toggle="dropdown" href="#">
				Users
				<b class="caret"></b>
			</a>

			<ul class="dropdown-menu">
				<li><%= link_to "All Users", users_path %></li>
				<li><%= link_to "Roles", roles_path %></li>
			</ul>
		</li>
		<li><%= link_to "Conferences", conferences_path %></li>
		<li class="dropdown active">
			<a class="dropdown-toggle"	data-toggle="dropdown" href="#">
				Countries
				<b class="caret"></b>
			</a>

			<ul class="dropdown-menu">
				<li><%= link_to "Custom Country Lists", lists_path %></li>
				<li><%= link_to "All Countries", countries_path %></li>
			</ul>
		</li>
		<li><%= link_to "Committees", committees_path %></li>
		<li><%= link_to "Schools", schools_path %></li>
		<li><%= link_to "Delegation Assignments", delegation_assignments_path %></li>
		<li><%= link_to "Delegates", delegates_path %></li>

		
	</li>
</ul>
<h2>Custom Country Lists</h2>
  
  <br/>

<div class="well form-inline">

<table class="table table-striped">
	<thead>
		<tr>
			<th>List name</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @lists.each do |list| %>
		<tr>
			
			
			
			<td><%= link_to list.list_name, list %></td>
			<td><%= link_to image_tag('edit.png'), edit_list_path(list) %></td>
			<td><%= link_to image_tag('trash.png'), list, confirm: 'Are you sure you want to delete this list? This cannot be undone.', method: :delete %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
<br />
<hr>
<p ALIGN="RIGHT"> <i class="icon-chevron-up"></i> <a href="#top">Back to Top</a></p>
</div>