<%= form_for([@school, @school.delegates.build]) do |f| %>


  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

	  <div class="control-group">
      <%= f.label :gender, :class => "control-label" %>
      <div class="controls">
        <%= f.select :gender, ['Male', 'Female'] %>
      </div>
    </div>

  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.date_select :date_of_birth, :start_year => Time.now.year - 70, :end_year => Time.now.year - 12 %>
  </div>
  <div class="field">
    <%= f.label :nationality %>
    <%= f.text_field :nationality %>
  </div>
  <div class="field">
    <%= f.label :country %>
    <%= f.collection_select :country_id, Country.btaschool(@school), :id, :country_name %>
  </div>
  <div class="field">
    <%= f.label :committee %>
    <%= f.collection_select :committee_id, Country.btaschool(@school)[0].lists[0].committees, :id, :committee_name %>
  </div>
  <div class="actions">
	<button type="submit" class="btn">Create delegate</button>
  </div>

<% end %>
