<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
<div class="container" style="padding-top:70px;">
<div class="span7 offset2">
<h1>Delegate Information</h1>
</div>
</div>
<div class="container">

<section id="forms">
    <div class="span7 offset2">
      <%= render 'layouts/messages' %>
      <div class="form-horizontal well">
<p>
  <b>First name:</b>
  <%= @delegate.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @delegate.last_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @delegate.gender %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @delegate.date_of_birth.strftime('%b %d, %Y') %>
</p>

<p>
  <b>Nationality:</b>
  <%= @delegate.nationality %>
</p>

<p>
  <b>School:</b>
  <%= @delegate.school.school_name %>
</p>
      </div>
<%= link_to 'Edit', edit_delegate_path(@delegate) %> |
<%= link_to 'Back', delegates_path %>
  </div>
</section>
</div>