<div class="container" style="padding-top:70px;">

<section id="forms">
    <div class="span7 offset2">
      <%= render 'layouts/messages' %>
      <div class="form-horizontal well">

<%= form_for @message, :url => requestaccess_path do |form| %>
<legend>Request Access<br/><p style="font-size: 16px; line-height: 1.8em; color: #888888;">Please fill in this form and we will get back to you soon.</p></legend>

    <div class="control-group">
      <%= form.label :school_name, :class => "control-label" %>
      <div class="controls">
      <%= form.text_field :school_name %>
    </div>
    </div>
    <div class="control-group">
      <%= form.label :first_name, :class => "control-label" %>
      <div class="controls">
      <%= form.text_field :first_name %>
    </div>
    </div>
    <div class="control-group">
      <%= form.label :last_name, :class => "control-label" %>
      <div class="controls">
      <%= form.text_field :last_name %>
    </div>
    </div>
    <div class="control-group">
      <%= form.label :email, :class => "control-label" %>
      <div class="controls">
      <%= form.text_field :email %>
    </div>
    </div>
    <div class="control-group">
      <%= form.label :nationality, :class => "control-label" %>
      <div class="controls">
        <%= f.select(:nationality, User::COUNTRIES, :prompt => "Select Country") %>
      <%= form.text_field :nationality %>
    </div>
    </div>
    <div class="control-group">
      <%= form.label :gender, :class => "control-label" %>
      <div class="controls">
      <%= form.select :gender, ['Male', 'Female'], :prompt => "Select Gender" %>
    </div>
    </div>
    <div class="control-group">
      <%= form.label :additional_details, :class => "control-label" %>
      <div class="controls">
      <%= form.text_field :details %>
    </div>
    </div>

    <div class="control-group">
      <div class="controls">
      <%= form.submit "Request Access", :class => "btn btn-primary"%>
      <%= link_to "Cancel", :back, :class => "btn" %>
    </div>
    </div>
    
<% end %>

</div>

