<div class="container" style="padding-left:20px; padding-right:20px;">
<section id="forms" style="padding-top:70px;">
	<div class="span7 offset2">
			<div class="form-horizontal well">
<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

<legend>Resend Confirmation Instructions</legend>

<div class="control-group">
				<%= f.label :email, :class => "control-label", :for =>"inputIcon" %>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on"><i class="icon-envelope-alt"></i></span>
						<%= f.email_field :email, :placeholder => "Email", :class => "span3", :id => "inputIcon" %>
					</div>
					<br/><br/>
					<p class="help-block">Enter your email address and we'll send you instructions.</p>
					
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<%= f.submit "Resend confirmation instructions", :class => "btn btn-primary"%>
					<%= link_to "Cancel", :back, :class => "btn" %>
				</div>
			</div>

<% end %>

</div>
</div>
<div class="span7 offset2" style="text-align:center;">
			<%= render "devise/shared/links" %>
  			<p>Don't have an account? <a href="/requestaccess">Request Access</a></p>
		</div>
</section>
</div>