<div class="container">

<section id="forms">
    <div class="span7 offset2">
      <%= render 'layouts/messages' %>
      <div class="form-horizontal well">				
<%= form_for(@conference) do |f| %>
  <% if @conference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conference.errors.count, "error") %> prohibited this conference from being saved:</h2>


      <ul>
      <% @conference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <legend>Conference Details</legend>

	<div class="control-group">
    <%= f.label :assign_conference_manager , :class => "control-label" %>
		<div class="controls">
    <%= f.collection_select :user_id, User.with_role("Conference Manager"), :id, :fullname %>
    <p class="help-block">(or add a <%= link_to "new Conference Manager", new_user_path(@user) %>)</p>
  		</div>
</div>



<div class="control-group">
    <%= f.label :conference_title , :class => "control-label" %>
	<div class="controls">
    <%= f.text_field :conference_title %>
  	</div>
</div>

<div class="control-group">
    <%= f.label :start_date , :class => "control-label" %>
	<div class="controls">
    <%= f.text_field :start_date, :placeholder => "dd/mm/yyyy", :databehaviour => "datepicker"%>
  </div>
</div>


<div class="control-group">
    <%= f.label :end_date , :class => "control-label" %>
	<div class="controls">

    <%= f.text_field :end_date, :placeholder => "dd/mm/yyyy", :databehaviour => "datepicker"%>
  </div>
</div>



<div class="control-group">
    <%= f.label :host_school_or_organization, :class => "control-label" %>
	<div class="controls">

    <%= f.text_field :host %>
  </div>
</div>



<div class="control-group">
    <%= f.label :venue , :class => "control-label" %>
	<div class="controls">

    <%= f.text_field :venue %>
  </div>
</div>



<div class="control-group">
    <%= f.label :conference_details , :class => "control-label" %>
	<div class="controls">

    <%= f.text_area :conference_details %>
  </div>
</div>



<div class="control-group">
    <%= f.label :Conference_Status , :class => "control-label" %>
	<div class="controls">
    <label class="checkbox">
    <%= f.check_box :is_active, :id=>"optionsCheckbox" %>Active
  </label>
  </div>
</div>



</br>
<div class="control-group">
            <div class="controls">
              <%= f.submit "Create Conference", :class => "btn btn-primary"%>
              <%= link_to "Cancel", root_path, :class => "btn" %>
            </div>
          </div>

<% end %>

</div>
    </div>
  </div>
</section>


