<%= form_for(@conference) do |f| %>
  <% if @conference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conference.errors.count, "error") %> prohibited this conference from being saved:</h2>


      <ul>
      <% @conference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :assign_conference_manager %>
    <%= f.collection_select :user_id, User.with_role("Conference Manager"), :id, :fullname %>
  </div>
  <%= link_to "Add Conference Manager", new_user_path(@user) %>


  <div class="field">
    <%= f.label :conference_title %>
    <%= f.text_field :conference_title %>
  </div>
  <div class="field">
    <%= f.label :start_date %>
    <%= f.text_field :start_date, :placeholder => "dd/mm/yyyy", :databehaviour => "datepicker"%>
  </div>
  <div class="field">
    <%= f.label :end_date %>
    <%= f.text_field :end_date, :placeholder => "dd/mm/yyyy", :databehaviour => "datepicker"%>
  </div>
  <div class="field">
    <%= f.label :host %>
    <%= f.text_field :host %>
  </div>
  <div class="field">
    <%= f.label :venue %>
    <%= f.text_field :venue %>
  </div>
  <div class="field">
    <%= f.label :conference_details %>
    <%= f.text_area :conference_details %>
  </div>
  <div class="field">
    <%= f.label :is_active %>
    <%= f.check_box :is_active %>
  </div>
</br>
<div class="actions">
	<button type="submit" class="btn">Create conference</button>
</div>
<% end %>