<div class="page-header">
    <h1>Conferences</h1>
</div>

<table class="table table-striped">

    <thead>

  <tr>
    <th>Conference title</th>
    <th>Duration</th>
    <th>Host</th>
    <th>Venue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

</thead>
<tbody>

<% @conferences.each do |conference| %>
  <tr>
    <td><%= link_to conference.conference_title, conference %></td>
    <td><%= conference.duration %></td>
    <td><%= conference.host %></td>
    <td><%= conference.venue %></td>
    <td><%= link_to image_tag('edit.png'), edit_conference_path(conference) %></td>
    <td><%= link_to image_tag('trash.png'), conference, confirm: 'Are you sure you want to delete this conference? This cannot be undone.', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br/><br/><br/><br/>
<%= form_for @search, :url => conferences_path, :html => {:method => :get} do |f| %>
  <%= f.label :Search_by_conference_title %>
  <%= f.text_field :conference_title_contains %><br />

  <%= f.submit "Search for conferences"%>

<br/><br/>

<%= link_to 'New Conference', new_conference_path %>
<% end %>