<h1>Listing conferences</h1>

<table>
  <tr>
    <th>Conference title</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Host</th>
    <th>Venue</th>
    <th>Conference details</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conferences.each do |conference| %>
  <tr>
    <td><%= conference.conference_title %></td>
    <td><%= conference.start_date %></td>
    <td><%= conference.end_date %></td>
    <td><%= conference.host %></td>
    <td><%= conference.venue %></td>
    <td><%= conference.conference_details %></td>
    <td><%= link_to 'Show', conference %></td>
    <td><%= link_to 'Edit', edit_conference_path(conference) %></td>
    <td><%= link_to 'Destroy', conference, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conference', new_conference_path %>
