<div class="container" style="padding-left:20px; padding-right:20px; background-color:white;">

<% if !current_user.role? :"MUN Director" %>
	<ul class="nav nav-tabs" style="padding-top:20px;">
    <% if current_user.role? "System Admin" %>
    <li class="dropdown">
      <a class="dropdown-toggle"  data-toggle="dropdown" href="#">
        Users
        <b class="caret"></b>
      </a>

      <ul class="dropdown-menu">
        <li><%= link_to "All Users", users_path %></li>
        <li><%= link_to "Roles", roles_path %></li>
      </ul>
    </li>
    <% else %>
    
    <li><%= link_to "Users", users_path %></li>
    <% end %>
		<li class="active"><%= link_to "Conferences", conferences_path %></li>
		<li class="dropdown">
			<a class="dropdown-toggle"	data-toggle="dropdown" href="#">
				Countries
				<b class="caret"></b>
			</a>

			<ul class="dropdown-menu">
				<li><%= link_to "Custom Country Lists", lists_path %></li>
				<li><%= link_to "All Countries", countries_path %></li>
			</ul>
		</li>
		<li><%= link_to "Committees", committees_path %></li>
		<li><%= link_to "Schools", schools_path %></li>
		<li><%= link_to "Delegation Assignments", delegation_assignments_path %></li>
		<li><%= link_to "Delegates", delegates_path %></li>
	</li>
</ul>
<% else %>
<ul class="nav nav-tabs" style="padding-top:20px;">
		<li class="active"><%= link_to "Conferences", conferences_path %></li>
		<li><%= link_to "Schools", schools_path %></li>
		<li><%= link_to "Delegates", delegates_path %></li>
	</li>
</ul>
<% end %>
<div class="pull-right">
	<%= form_for @search, :url => conferences_path, :html => {:method => :get} do |f| %>
		<%= f.text_field :conference_title_contains, :class => "navbar-search form-inline input-medium search-query", :placeholder => "Search by title" %>
	<% end %>
</div>
	<h2>Conferences</h2>
	<% if current_user.role? "System Admin" %>
	<a href="/conferences/new" class="btn pull-left"><i class="icon-plus" style="padding-top:2px;"></i>&nbsp;Create New Conference</a>
	<% end %>
	<br/><br/>

<div class="well form-inline">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Conference</th>
			<th>Conference Manager</th>
			<th>Session</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @conferences.each do |conference| %>
		<tr>
			<td><%= link_to conference.conference_title, conference %><br/>
			<%= conference.duration %><br/>
			<%= conference.venue %></td>
			<td><%= link_to conference.user.fullname, conference.user %></td>
			<td><% if conference.is_active? %>
				<p style="color: #47CB2A; margin-bottom: 0;">Active</p>
				<% else %>
				<p style="color: #EB0301; margin-bottom: 0;">Inactive</p>
				<% end %>
			</td>
			<td><%= link_to image_tag('edit.png'), edit_conference_path(conference) %></td>
			<td><%= link_to image_tag('trash.png'), conference, confirm: 'Are you sure you want to delete this conference? This cannot be undone.', method: :delete %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>

<br/>
<hr>

<p ALIGN="RIGHT"> <i class="icon-chevron-up"></i> <a href="#top">Go to Top</a></p>
</div>