<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>

<ul class="nav nav-tabs">
  <li class="dropdown">
    <a class="dropdown-toggle"
data-toggle="dropdown"
       href="#">
        Users

        <b class="caret"></b>
      </a>
      
    <ul class="dropdown-menu">
       <li><%= link_to "MUN School Director", lists_path %></li>
<li><%= link_to "System Admin", lists_path %></li>
<li><%= link_to "Conference Manager", lists_path %></li>
    </ul>
 
	<li><%= link_to "Conferences", conferences_path %></li>
	<li><%= link_to "Committees", committees_path %></li>
	
	
	<li><%= link_to "Schools", schools_path %></li>
	

<li class="dropdown">
	<a class="dropdown-toggle"	data-toggle="dropdown"
	       href="#">
	        Country

	        <b class="caret"></b>
	      </a>

	    <ul class="dropdown-menu">
		<li><%= link_to "Countries", countries_path %></li>
	     <li><%= link_to "Country custom lists", lists_path %></li>
		<li><%= link_to "Countries lists", country_lists_path %></li>
	    </ul>
</li>



<li class="dropdown">
	<a class="dropdown-toggle"	data-toggle="dropdown"
	       href="#">
	        Delegates

	        <b class="caret"></b>
	      </a>

	    <ul class="dropdown-menu">
		<li><%= link_to "Delegates lists", delegates_path %></li>
	     <li><%= link_to "Delegates assignments list", delegate_assignments_path %></li>
	    </ul>
</li>
</ul>

</br>

	<div class="span11">
	       <div class="well form-inline">
	           <class="table table-striped ">
	
						
			<class="page-header">
			    <h3>Delegates assignments</h3>
		
 <button class="btn pull-left form-inline"><%= link_to 'New Delegate assignment', new_delegate_assignment_path %>
</button>		
			</br></br>
	         </div>
	       </div>






<table class="table table-striped">

    <thead>

		  <tr>
    <th>Delegate</th>
    <th>Country</th>
    <th>Committee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @delegate_assignments.each do |delegate_assignment| %>
  <tr>
    <td><%= delegate_assignment.delegate_id %></td>
    <td><%= delegate_assignment.country_id %></td>
    <td><%= delegate_assignment.committee_id %></td>
    <td><%= link_to 'Show', delegate_assignment %></td>

 <td><%= link_to image_tag('edit.png'), edit_delegate_assignment_path(delegate_assignment) %></td>
    <td><%= link_to image_tag('trash.png'), delegate_assignment, confirm: 'Are you sure you want to delete this delegate assignment? This cannot be undone.', method: :delete %></td>

<% end %>
</table>

<br />


