<h1>Listing country_lists</h1>

<table>
  <tr>
    <th>Country</th>
    <th>List</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @country_lists.each do |country_list| %>
  <tr>
    <td><%= country_list.country_id %></td>
    <td><%= country_list.list_id %></td>
    <td><%= link_to 'Show', country_list %></td>
    <td><%= link_to 'Edit', edit_country_list_path(country_list) %></td>
    <td><%= link_to 'Destroy', country_list, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Country list', new_country_list_path %>
