<p id="notice"><%= notice %></p>

<p>
  <b>List:</b>
  <%= @country_list.list.list_name %>
</p>

<p>
  <b>Country:</b>
  <%= @country_list.country.country_name %>
</p>

<p>
  <b>School:</b>
  <%= @country_list.school.school_name %>
</p>

<%= link_to 'Edit', edit_country_list_path(@country_list) %> |
<%= link_to 'Back', country_lists_path %>
