<%= form_for(@committee) do |f| %>
  <% if @committee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@committee.errors.count, "error") %> prohibited this committee from being saved:</h2>

      <ul>
      <% @committee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :committee_name %><br />
    <%= f.text_field :committee_name %>
  </div>
  <div class="field">
    <%= f.label :num_delegates %><br />
    <%= f.number_field :num_delegates %>
  </div>
  <div class="field">
    <%= f.label :conference_id %><br />
    <%= f.collection_select :conference_id, Conference.all, :id, :conference_title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
