<%= form_for([@conference, @conference.committees.build]) do |f| %>

  <div class="field">
    <%= f.label :committee_name %>
    <%= f.text_field :committee_name %>
  </div>
  <div class="field">
    <%= f.label :Number_of_delegates %>
    <%= f.number_field :num_delegates %>
  </div>
  <div class="field">
    <%= f.label :list_id %>
    <%= f.collection_select :list_id, List.all, :id, :list_name %>
  </div>

</br></br>

<div class="actions">
	<button type="submit" class="btn">Create committee</button>
  </div>


<% end %>
