<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
<section id="forms">
    <div class="span12">
      <%= render 'layouts/messages' %>
      <div class="form-horizontal well">
<%= form_for([@conference, @conference.committees.build]) do |f| %>

  	<div class="control-group">
    <%= f.label :committee_name, :class => "control-label"  %>
<div class="controls">
    <%= f.text_field :committee_name %>
  </div>
</div>


  <div class="control-group">
    <%= f.label :Number_of_delegates, :class => "control-label"  %>
    <div class="controls">
    <%= f.number_field :num_delegates %>
</div>
  </div>

  <div class="control-group">
    <%= f.label :list_id, :class => "control-label" %>
        <div class="controls">
    <%= f.collection_select :list_id, List.where("conference_id = ?", @conference.id), :id, :list_name, :prompt => "Select Country List" %>
  </div>
  </div>

  <div class="control-group">
        <div class="controls">
          <%= f.submit "Create Committee", :class => "btn btn-primary"%>
  </div>
  </div>

<% end %>


		</div>
	</div>

</section>