<div class="container" style="padding-top:70px;">
<div class="span7 offset2">
<h1>Committee Information</h1>
</div>
</div>
<div class="container">

<section id="forms">
    <div class="span7 offset2">
      <%= render 'layouts/messages' %>
      <div class="form-horizontal well">
<p>
  <b>Committee name:</b>
  <%= @committee.committee_name %>
</p>

<p>
  <b>Number of delegates:</b>
  <%= @committee.num_delegates %>
</p>

<p>
  <b>Country list:</b>
  <% for country in @committee.list.countries %>
    <li><%= link_to((country.country_name), country_path(country)) %></li>
  <% end  %>
</p>

<p>
  <b>Conference:</b>
  <%= @committee.conference.conference_title %>
</p>
      </div>
<%= link_to 'Edit committee', edit_committee_path(@committee) %> |
<%= link_to 'Back to committees list', committees_path %>
  </div>
</section>
</div>

