<%= form_for([@conference, @conference.schools.build]) do |f| %>

  <div class="field">
    <%= f.label :school_name %>
    <%= f.text_field :school_name %>
  </div>
  
  <div class="field">
    <%= f.label :school_address %>
    <%= f.text_field :school_address %>
  </div>

  <div class="field">
    <%= f.label :max_students %>
    <%= f.number_field :max_students %>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
	<button type="submit" class="btn">Create school</button>
  </div>
<% end %>