<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
<section id="forms">
    <div class="span12">
      <%= render 'layouts/messages' %>
      <div class="form-horizontal well">
<%= form_for([@conference, @conference.schools.build]) do |f| %>

  <div class="control-group">
    <%= f.label :school_name, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :school_name %>
  </div>
  </div>
  
  <div class="control-group">
    <%= f.label :school_address, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :school_address %>
  </div>
</div>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Register School", :class => "btn btn-primary"%>
  </div>
</div>
<% end %>
</div>
</div>
</section>