<div class="container" style="padding-left:20px; padding-right:20px; background-color:white;">

<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>

<ul class="nav nav-tabs">
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			Users
			<b class="caret"></b>
		</a>

		<ul class="dropdown-menu">
			<li><%= link_to "MUN School Director", lists_path %></li>
			<li><%= link_to "System Admin", lists_path %></li>
			<li><%= link_to "Conference Manager", lists_path %></li>
		</ul>

		<li><%= link_to "Conferences", conferences_path %></li>
		<li><%= link_to "Committees", committees_path %></li>
		<li><%= link_to "Delegates", delegates_path %></li>
		<li><%= link_to "Schools", schools_path %></li>

		<li class="dropdown">
			<a class="dropdown-toggle"	data-toggle="dropdown" href="#">
				Countries
				<b class="caret"></b>
			</a>

			<ul class="dropdown-menu">
				<li><%= link_to "Countries", countries_path %></li>
				<li><%= link_to "Country custom lists", lists_path %></li>
			</ul>
		</li>
	</li>
</ul>

<div>

</div>

<br/></br/></br/>

<div class="well form-inline">
	<h3>Schools list</h3>
</button>
	<br/>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>School name</th>
			<th>School address</th>
			<th>Email address</th>
			<th>Max students</th>
			<th>Conference</th>
			<th>User</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @schools.each do |school| %>
		<tr>
			<td><%= link_to school.school_name, school %></td>
			<td><%= school.school_address %></td>
			<td><%= school.email %></td>
			<td><%= school.max_students %></td>
			<td><%= school.conference.conference_title %></td>
			<td><%= school.user_id %></td>
			<td><%= link_to 'Edit', edit_school_path(school) %></td>
			<td><%= link_to 'Destroy', school, confirm: 'Are you sure?', method: :delete %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<hr>
<br/><br/>

<p ALIGN="RIGHT"> <i class="icon-download-alt"></i> Export to <a href="http://localhost:3000/schools.xls"> excel</a> </p>
<p ALIGN="RIGHT"> <i class="icon-chevron-up"></i> <a href="#top">Back to Top</a></p>
</div>