<p id="notice"><%= notice %></p>

<p>
  <b>School name:</b>
  <%= @school.school_name %>
</p>

<p>
  <b>School address:</b>
  <%= @school.school_address %>
</p>

<p>
  <b>Email address:</b>
  <%= @school.email %>
</p>


<p>
  <b>Max students:</b>
  <%= @school.max_students %>
</p>

<p>
  <b>Countries:</b>
  <% for country in @school.countries %>
		<li><%= link_to((country.country_name), country_path(country)) %></li>
  <% end  %>

</p>
<p>
<%= render :partial => 'list_of_delegates' %>
<%= link_to 'Create Delegate', new_delegate_path(@delegate) %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
