
<div class="container">
<!--when click on conference name-->
<section id="conference">
<div class="row-fluid">

      <div class="span12 well" style="margin-top:20px;">
        <h1><%= @school.school_name %></h1>
        <h3 style="color: #39b1c6;"><%= @school.school_address %></h3> 

        <b>Countries:</b>
        <% for country in @school.countries %>
          <li><%= link_to((country.country_name), country_path(country)) %></li>
        <% end  %>
        <br/><br/>

        <b>Delegates:</b>

        <li><%= render @school.delegates %></li>
        <% if @school.countries != nil %>
        <a href="#createdelegate" role="button" class="btn" data-toggle="modal">Create New Delegate</a>
        <% end %>
        <div id="createdelegate" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add Delegate</h3>
  </div>
  <div class="modal-body">
    <%= render 'delegates/form' %>
  </div>
</div>

      </div>
    </div>
  </section>
</div>

<ul class="pager">
  <li><%= link_to 'Edit', edit_school_path(@school) %> |</li>
  <li><%= link_to 'Back', schools_path %></li>
</ul>

</div>
</section>
</div>