<p id="notice"><%= notice %></p>

<p>
  <b>School name:</b>
  <%= @school.school_name %>
</p>

<p>
  <b>School address:</b>
  <%= @school.school_address %>
</p>

<p>
  <b>Email address:</b>
  <%= @school.email %>
</p>


<p>
  <b>Max students:</b>
  <%= @school.max_students %>
</p>

<p>
  <b>Countries:</b>
  <% for country in @school.countries %>
		<li><%= link_to((country.country_name), country_path(country)) %></li>
  <% end  %>

</p>
<!-- <p>
<%= render :partial => 'list_of_delegates' %>
<%= link_to 'Create Delegate', new_delegate_path(@delegate) %>
</p>
 -->
<b>Delegates:</b>
<%= render @school.delegates %>
<% if @school.countries != nil %>
<a href="#createdelegate" role="button" class="btn" data-toggle="modal">Create New Delegate</a>
<% end %>


<div id="createdelegate" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add Delegate</h3>
  </div>
  <div class="modal-body">
    <%= render 'delegates/form' %>
  </div>
</div>



<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
