
<div class="container">

<section id="forms">
    <div class="span7 offset2">
      <%= render 'layouts/messages' %>
      <div class="form-horizontal well">


<%= form_for(@delegation_assignment) do |f| %>



  
  
<div class="control-group">
    <%= f.label :country_id , :class => "control-label"%>
        		<div class="controls" style = "padding-top :5px;">
    <%= @delegation_assignment.country.country_name %>
  </div>
  </div>
  
  
  
<div class="control-group">
    <%= f.label :school_id , :class => "control-label" %>
    	<div class="controls" >
    <%= f.collection_select :school_id, School.all, :id, :school_name, :prompt => "Select School" %>
  </div>
  </div>
  
  
<div class="control-group">
            <div class="controls">
              <%= f.submit "Update Assignment", :class => "btn btn-primary"%>
              <%= link_to "Cancel", root_path, :class => "btn" %>
            </div>
          </div>


<% end %>

</div>
    </div>
</section>

</div>
