<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>

<ul class="nav nav-tabs">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Users
      <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
      <li><%= link_to "MUN School Director", lists_path %></li>
      <li><%= link_to "System Admin", lists_path %></li>
      <li><%= link_to "Conference Manager", lists_path %></li>
    </ul>

    <li><%= link_to "Conferences", conferences_path %></li>
    <li><%= link_to "Committees", committees_path %></li>
    <li><%= link_to "Delegates", delegates_path %></li>
    <li><%= link_to "Schools", schools_path %></li>

    <li class="dropdown">
      <a class="dropdown-toggle"  data-toggle="dropdown" href="#">
        Countries
        <b class="caret"></b>
      </a>

      <ul class="dropdown-menu">
        <li><%= link_to "Countries", countries_path %></li>
        <li><%= link_to "Country custom lists", lists_path %></li>
      </ul>
    </li>
  </li>
</ul>

<br/></br/></br/>

<div class="well form-inline">
  <h2>Delegation Assignments</h2>
  <br/>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>List</th>
      <th>Country</th>
      <th>School</th>
      <th>Conference</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @delegation_assignments.each do |delegation_assignment| %>
    <tr>
      <td><%= delegation_assignment.list_id %></td>
      <td><%= delegation_assignment.country.country_name %></td>
      <td>
        <% if delegation_assignment.school_id == nil %>
          <%= link_to 'Assign School', edit_delegation_assignment_path(delegation_assignment) %>
        <% else %>
          <%= delegation_assignment.school.school_name %>
        <% end %>
      </td>
      <td><%= delegation_assignment.conference %></td>
      <td><%= link_to 'Show', delegation_assignment %></td>
      <td><%= link_to 'Edit', edit_delegation_assignment_path(delegation_assignment) %></td>
      <td><%= link_to 'Destroy', delegation_assignment, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />
<p ALIGN="RIGHT"> <i class="icon-chevron-up"></i> <a href="#top">Go to Top</a></p>